.search-container{
    width: 100%;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.search-btn{
    border: none;
    width: 36px;
    height: 36px;
    overflow: visible;
    background: #006CE5;
}
.search{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    max-width: 306px;
    margin: 44px 34px;
}
.search input{
    display: flex;
    width: 306px;
    align-items: center;
    height: 36px;
    background-color: #DCE4E7;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
}
.tag{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    position: relative;
    margin-bottom: 16px;
}
.tag::before{
    content: '';
    width: 24px;
    height: 24px;
    background: url("../img/svg/icon-tag.svg") no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: -33px;
}
.tags{
    width: 360px;
    display: flex;
    margin-bottom: 44px;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}
.tags span{
    max-height: 35px;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    border-radius: 800px;
    background: #FFF;
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    box-sizing: border-box;
}

/*footer------------------------------------------------------*/

footer{
    text-align: center;

}
.footer__content-container{
    margin-top: 32px;
    margin-bottom: 24px;
}
.footer__content-container img{
    width: 154px;
    height: 42px;
}
.footer__content-container span{
    display: block;
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 16px;
}

@media (min-width: 768px ) {
    .footer__content-container{
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .footer__content-container img{
        width: 196px;
        height: 42px;
    }
    .footer__content-container span{
        margin-top: 24px;
    }

  /*search---------------------------------------------  */

    .search{
        margin: 44px 32px;
    }

    .tag{
        color: #000;
        font-size: 18px;
        font-weight: 500;
        line-height: 110%;
        position: relative;
        margin-bottom: 18px;
    }
    .tag::before{
        content: '';
        width: 24px;
        height: 24px;
        background: url("../img/svg/icon-tag.svg") no-repeat;
        display: block;
        position: absolute;
        top: 0;
        left: -33px;
    }
    .tags{
        width: 526px;
        display: flex;
        margin-bottom: 44px;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }
}

@media (min-width: 1368px ) {
    .footer__content-container{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .footer__content-container span{
        margin-top: 24px;
    }

}