
.header{
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    padding-right: 8px;
    position: fixed;
    top: 0;
    margin-bottom: 44px;
    background-color: #FFF;
}
.header__content-container{
    width: 100%;
    max-width: 1368px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 100;
}
.menu-logo-wrapper{
    display: flex;
    align-items: center;
    gap: 28px;
}
.nav-menu{
    display: none;
}
.btn-menu{
    border: none;
    padding: 18px 16px;
    width: 48px;
    height: 47px;
    background: #006CE5;
    position: relative;
}
.menu-logo-wrapper a img{
    width: 103px;
    height: 29px;
}
.btn-menu img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.live-title {
    box-sizing: border-box;
    height: 28px;
    width: 73px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ED0E05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-left: 1px solid #D4D4D4;
    padding-left: 8px;
}
@media (min-width: 768px) {

    .menu-logo-wrapper a img {
        width: 114px;
        height: 32px;
    }
    .header__content-container{
        padding-right: 12px;
        margin-bottom: 32px;
    }
}
@media (min-width: 1368px){
    .header {
        height: 60px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
        margin-bottom: 48px;
    }
    .header__content-container{
        height: 60px;
        width: 100%;
        margin-bottom: 44px;
        padding: 14px 36px;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
    }
    .nav-menu ul{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .btn-menu{
        display: none;
    }
}

