.section-two{
    padding: 0 8px;
}
.section-two h2{
    margin-top: 32px;
    margin-bottom: 32px;
    color: #1A1B1B;
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
}
.img-topic{
    background: url("../img/gay.png") no-repeat center;
    background-size: cover;
    height: 166px;
    width: 100%;
    margin-bottom: 12px;
}
.topic-news span{
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.topic-news h5{
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}
.topic-news p{
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 10px;
}
.data{
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
}
.second-news-container{
    margin-bottom: 40px;
}
.second-news-container-1 .img-topic{

    background: url("../img/airplane.png") no-repeat center;
    background-size: cover;
    height: 166px;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 40px;
}
.second-news-container-2 .img-topic{
    background: url("../img/home.png") no-repeat center;
    background-size: cover;
    height: 166px;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 40px;
}
.second-news-container-3 .img-topic{
    background: url("../img/tramvai.png") no-repeat center;
    background-size: cover;
    height: 166px;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 40px;
}
.second-news-container-4 .img-topic{
    background: url("../img/t-shirt.png") no-repeat center;
    background-size: cover;
    height: 166px;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 40px;
}
.second-news-container-5 .img-topic.flex-img{
    display: flex;
    background: url("../img/завод два.png") no-repeat center;
    background-size: cover;
    height: 166px;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 40px;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    padding: 10px 10px;
}
.one-two-three{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin-bottom: 32px;
}
.one-two-three span{
    display: flex;
    width: 37px;
    height: 37px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    border: 1px solid #D4D4D4;
    color: #006CE5;
}
.one-two-three .black{
    color: #1A1B1B;
}

.arrow{
    display: inline-block;
    position: relative;
}

.one-two-three .arrow::after{
    content:'';
    background: url("../img/svg/arrow.svg") no-repeat center center;content: '';
    width: 5px;
    height: 9px;
    display: block;
    position: absolute;
    top: 13px;
    right: -27px;
}
@media (min-width: 768px) {
    .section-two{
        padding: 0 12px;
    }
    .section-two h2{
        font-size: 42px;
    }
    .second-news-container{
        display: flex;
        align-items: center;
    }
    .img-topic{
        height: 166px;
        width: 296px;
    }
    .topic-news{
        margin-left: 24px;
    }
    .second-news-container-1{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .second-news-container-1 .img-topic{
        height: 166px;
        width: 296px;
    }
    .second-news-container-2{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }
    .second-news-container-2 .img-topic{
        height: 166px;
        width: 375px;
    }
    .second-news-container-3{
        display: flex;
        align-items: center;
    }
    .second-news-container-3 .img-topic{
        height: 166px;
        width: 296px;
    }
    .second-news-container-4 .img-topic{
        height: 166px;
        width: 415px;
        margin-bottom: 12px;
        margin-top: 40px;
    }
    .second-news-container-4{
        display: flex;
        align-items: center;
    }
    .second-news-container-5 .img-topic.flex-img{
        height: 166px;
        width: 540px;
        margin-top: 40px;
    }
    .second-news-container-5{
        display: flex;
        align-items: center;
    }

    .one-two-three .arrow::after{
        content:'';
        background: url("../img/svg/arrow.svg") no-repeat center center;content: '';
        width: 5px;
        height: 9px;
        display: block;
        position: absolute;
        top: 13px;
        right: -66px;
    }
    .one-two-three .arrow::before{
        content:'NEXT';
        width: 5px;
        height: 9px;
        display: block;
        position: absolute;
        top: 9px;
        right: -21px;
        color: #006CE5;
        font-size: 14px;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
    }
    .one-two-three{
        margin-bottom: 32px;
    }
}
@media (min-width: 1368px) {
    .section-two{
        padding: 0 36px;
    }
    .section-two h2{
        width: 440px;
        margin: 0;
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
        margin-top: 58px;
    }
    .one-two-three{
        margin-bottom: 40px;
        margin-top: 64px;
    }
    .img-topic{
        height: 166px;
        width: 330px;
        margin: 0;
    }
    .content-container{

    }
    .second-news-container-1 .img-topic{
        height: 172px;
        width: 460px;
        margin: 0;
    }
    .second-news-container-2 .img-topic{
        height: 172px;
        width: 650px;
        margin: 0;
    }
    .second-news-container-3 .img-topic{
        height: 172px;
        width: 510px;
        margin: 0;
    }
    .second-news-container-4 .img-topic{
        height: 172px;
        width: 730px;
        margin-top: 40px;
    }
    .second-news-container-5 .img-topic{
        height: 172px;
        width: 306px;
    }
}



