.wrapper {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
}

main {
    margin-top: 91px;
}

.content-container {
    padding: 0 8px;
}

.headline {
    border-bottom: solid 1px #D4D4D4;;
    margin-bottom: 32px;
}

.headline p {
    color: #1A1B1B;
    font-size: 17px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 12px;
}

.headline h1 {
    color: #1A1B1B;
    font-size: 54px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 8px;
}

.img-container {
    width: 100%;
    height: 416px;
    background: url("../img/police.png") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}

.poland {
    display: flex;
    width: 81px;
    padding: 10px 20px 10px 0;
    align-items: flex-start;
    gap: 10px;
    background: #FFF;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

h3 {
    color: #1A1B1B;
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
}

.wrapper {
    width: 100%;
    max-width: 1368px;
    margin: 0 auto;
}

.more-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.more-news .first-img {
    width: 100%;
    height: 200px;
    background: url("../img/1.png") no-repeat;
    background-size: cover;
    margin-bottom: 4px;
}

.more-news p {
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}
.second-img {
    display: flex;
    width: 100%;
    height: 200px;
    background: url("../img/2.png") no-repeat;
    background-size: cover;
    margin-bottom: 4px;
    padding: 10px;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
}

.third-img {
    width: 100%;
    height: 200px;
    background: url("../img/3.png") no-repeat;
    background-size: cover;
    margin-bottom: 4px;
}

@media (min-width: 768px) {
    main {
        margin-top: 79px;
    }

    .content-container {
        padding: 0 12px;
    }

    .headline p {
        color: #1A1B1B;
        font-weight: 400;
        line-height: 125%;
        margin-bottom: 4px;
        font-size: 22px;
    }

    .headline h1 {
        margin-bottom: 4px;
        font-size: 62px;
        font-weight: 600;
    }

    h3 {
        font-size: 28px;
        font-weight: 800;
    }

    .wrapper {
        width: 100%;
        max-width: 1296px;
        margin: 0 auto;
    }

    .more-news {
        display: flex;
        flex-direction: row;
    }

    .read-news {
        padding-left: 24px;
    }

    .more-news .first-img {
        width: 296px;
        height: 200px;
    }

    .second-img {
        width: 296px;
        height: 200px;
    }

    .third-img {
        width: 296px;
        height: 200px;
    }
}

@media (min-width: 1368px) {
    main {
        margin-top: 109px;
    }

    .content-container {
        padding: 0 36px;
    }

    .more-news {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .read-news {
        padding-left: 24px;
    }
    .wrapper {
        width: 100%;
        max-width: 1368px;
        margin: 0 auto;
    }
    .more-news .first-img {
        width: 350px;
        height: 110px;
    }
    .more-news.margin-first{
        margin-top: 0;
    }
    .second-img {
        width: 1000000px;
        height: 110px;
        max-width: 196px;
    }
    .third-img {
        width: 380px;
        height: 110px;
    }
    .last-border {
        border: none;
    }
    .img-container{
        width: 746px;
    }

    .police-block {
        width: 746px;
    }

    .first-news-container {
        display: flex;
        gap: 24px;
        padding-bottom: 55px;
        border-bottom: solid 1px #D4D4D4;
    }

    .first-news-container-second {
    }
}
